html {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #404041;
  color: #ed458b;
  text-align: center;
}

span {
  font-weight: 300;
  color: #E6E7E8;
}

form {
  text-align: center;
}

h2 {
  color: #404041;
  font-weight: 300;
}

/*p {
  color: #eb008b;
  font-size: 40px;
  width: 400px;
  border: 0;
  padding: 0;
  margin: 0 auto;
}*/

.roundedGray:hover {
  background-color: #eb008b;
  color: #ffffff;
}

#guess {
  width: 30%;
  min-width: 300px;
  height: 2em;
}

.roundedGray {
  border-radius: 50px;
  background-color: #d0d2d3;
  color: #ffffff;
  font-size: 30px;
}   

.wideButton {
  width: 30%;
}

#attempt,
#feedBack,
#const,
#reset {
  visibility: hidden;
}