html {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #404041;
  color: #ed458b;
  text-align: center;
  height: 102px;
}

header h1 {
  position: relative;
  top: 30px;
  font-size: 40px;
}

span {
  font-weight: 300;
  color: #E6E7E8;
}

form {
  text-align: center;
}

h2 {
  color: #404041;
  font-weight: 300;
}

p {
  display: inline-block;
  overflow: scroll;
  /*color: #eb008b;
  font-size: 170px;*/
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0 auto;
  font-weight: 100;
}

#attempt {
  color: #eb008b;
  font-size: 170px;
}

.roundedButton{
  border-radius: 50px;
  font-size: 30px;
  margin-top:20px;
  width: 196px;
}

.buttonEnabled {
  background-color: #929497;
  color: #ffffff;
}

.hover .buttonEnabled:hover {
  background-color: #eb008b;
  color: #ffffff;
}

.buttonDisabled {
  background-color: #d0d2d3;
  color: #ffffff;
}

#guess {
  width: 428px;
  min-width: 300px;
  height: 2em;
  position: relative;
  right: 18px
}

#clearText {
  position: relative;
  left: 19px;
}

#reset {
  width: 30%;
  min-width: 300px;
}

#attempt,
#feedBack,
#const,
#reset {
  visibility: hidden;
}

#subMinMax{
  margin-bottom: 16px;
}

.prompt {
  margin-top: 25px;
}


#minGuess {
  width: 20px;
  padding-left: 10px;
}
#maxGuess {
  width: 33px;
  padding-left: 11px;
}
